body {
    background-color: darkseagreen;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: justify;
    line-height: 1.5;
    word-spacing: 7px;
    white-space: wrap;
    color: darkslategray;
    margin: auto;

}

#menu-box {
    background-color: rgb(30, 69, 52);
    color: white;   
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;   
    justify-content:center;
    justify-content: space-around;
    padding: 1rem;
    margin: 0;
}

#menu {
    color: white;
    text-decoration: none;
    text-shadow: 1px 2px rgb(29, 29, 29);
}

#menu:visited {
    color: darkseagreen;
}

h1 {
    color: white;
    text-shadow: 2px 2px darkslategray;                
}

h2 {
    color: lightgoldenrodyellow;
    text-shadow: 2px 2px darkslategray;
}

table, th, td {
    border-color: lightgoldenrodyellow;
    border-width: 1,1,1,1;
    border-style: inset;                
}

a:link:not(.menu) {
    color: darkslategray;    
    text-shadow: white, 2px 2px 2px;
}

a:visited {
    color: darkslategray;
}

.menu > a {
    color: darkseagreen;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;                
    padding: 10px;
    font-size: 20px;
}

pre[class*=language-] {
    background-color: lightyellow;
}